앙상블 - 
OpenVaccine: COVID-19 mRNA Vaccine Degradation Prediction

In [ ]:
import pandas as pd
import numpy as np
import re

In [ ]:
sub1 = pd.read_csv('sample_submission.csv')
sub2 = pd.read_csv('submission (1).csv')
sub3 = pd.read_csv('submission (2).csv')
sub4 = pd.read_csv('submission (3).csv')
#sub5 = pd.read_csv('submission (4).csv') # 스코어가 낮음 
#sub6 = pd.read_csv('submission (5).csv')
#sub7 = pd.read_csv('submission (7).csv') 
#sub8 = pd.read_csv('submission_lgbm_v1.csv') # 스코어가 낮음
sub9 = pd.read_csv('ensemble_final (1).csv')
sub10 = pd.read_csv('ensemble_final.csv')
# 앙상블모형은 점수가 높은것들을 조합해야 대부분 점수가 좋게 나옴

In [ ]:
sub = sub1

subs = [sub2, sub3, sub4, sub7, sub9, sub10]

In [ ]:
for col in  ['reactivity', 'deg_Mg_pH10', 'deg_pH10', 'deg_Mg_50C', 'deg_50C']:
    for model in subs:
        sub[col] += model[col]
    sub[col] /= 7

In [ ]:
sub.to_csv('my4_submission.csv', index=False)

In [ ]:
sub

               id_seqpos  reactivity  ...  deg_Mg_50C   deg_50C
0         id_00073f8be_0    0.608696  ...    0.474427  0.540815
1         id_00073f8be_1    1.871753  ...    2.708641  2.076681
2         id_00073f8be_2    1.286689  ...    0.595937  0.509087
3         id_00073f8be_3    1.110615  ...    1.391493  1.242879
4         id_00073f8be_4    0.723426  ...    0.732229  0.635750
...                  ...         ...  ...         ...       ...
457948  id_ffda94f24_125    0.189591  ...    0.504676  0.339130
457949  id_ffda94f24_126    0.251404  ...    0.507073  0.442440
457950  id_ffda94f24_127    0.430492  ...    0.332503  0.340849
457951  id_ffda94f24_128    0.215441  ...    0.355399  0.221391
457952  id_ffda94f24_129    0.088546  ...    0.385835  0.158451

[457953 rows x 6 columns]